README.md
CHANGELOG.md

*compose.y*ml
Dockerfile
.dockerignore

pnpm-lock.yaml
yarn.lock
bun.lockb

**/.DS_Store
.DS_Store?
Thumbs.db
desktop.ini

.env
.vercel
storage/

test.js
release-builds
node_modules
build
temp

.vscode
.idea
.cache