README.md
CHANGELOG.md
*compose.y*ml
Dockerfile
.dockerignore
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
**/.DS_Store
.DS_Store?
Thumbs.db
desktop.ini
.env
.vercel
test.js
storage/
.cache
release-builds
node_modules
build
temp
.vscode
.idea
