.vscode
.idea
.next
.docusaurus
.cache
release-builds
node_modules
build
temp
__pycache__

.env
.vercel
test.js
storage/

**/.DS_Store
.DS_Store?
Thumbs.db
desktop.ini

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb